{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<head>
    <!-- Static CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/animate.min.css' %}">

    <script src="../../static/blog/js/wow.min.js"></script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',      // default
            animateClass: 'animated', // default
            offset: 0,          // default
            mobile: true,       // default
            live: true        // default
        });
        wow.init();
    </script>

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Omar Sanchez | Full Stack Developer</title>
    {% endif %}
</head>

<body>
<!-- start main -->
<main role="main" class="container">
    <!-- Content Section About -->
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-6">
            <div class="centerBlock">
                <img class="rounded-circle animated fadeInLeft" src="{% static "blog/about/me.jpg" %}" width="170px"
                     height="170px">
                <h1 class="animated fadeInDown larger-text"><strong>Omar</strong></h1>
                <h1 class="animated fadeInDown larger-text"><strong>Sanchez II</strong></h1>
                <a href="https://www.linkedin.com/in/osanchezdev/"><img class="pr-2 animated fadeInLeft"
                                                           src="{% static "blog/about/linkedin-icon.png" %}" width="60px"
                                                           height="50px"></a>
                <a href="https://github.com/Osanchez"><img class="pr-2 animated fadeInLeft"
                                                           src="{% static "blog/about/git-icon.png" %}" width="60px"
                                                           height="50px"></a>
                <a href="https://www.facebook.com/OsanchezDev"><img class="pr-2 animated fadeInLeft"
                                                                    src="{% static "blog/about/facebook-icon.png" %}"
                                                                    width="60px" height="50px"></a>
                <a href="https://twitter.com/OsanchezDev"><img class="pr-2 animated fadeInLeft"
                                                               src="{% static "blog/about/twitter-icon.png" %}"
                                                               width="60px" height="50px"></a>
                <a href="mailto:omarsanchezdev@gmail.com"><img class="pr-2 animated fadeInLeft"
                                                               src="{% static "blog/about/email-icon.png" %}"
                                                               width="60px" height="50px"></a>
                <br/>
                <br/>
                <a href="https://drive.google.com/file/d/160MnyHTFM25cAAlEdG1a0PdMpQbkIwWD/view?usp=sharing">
                    <img class="pr-2  float-left animated fadeInLeft" src="{% static "blog/about/resume-icon.png" %}"
                         width="65px" height="55px">
                    <p class="p-3 font-weight-bold animated fadeInRight" style="color:rgb(52,52,52);">My Resume</p>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <p class="wow fadeInLeft" data-wow-duration="1s"><strong>
                    Full-Stack Developer
                </strong></p>

                <p class="wow fadeInRight" data-wow-duration="1s">
                    Hello, thank you for visiting my about me page on my website.
                    I've created this page to give you a little more background information about myself and to
                    showcase some of the awesome projects I've worked on.

                </p>

                <p class="wow fadeInLeft" data-wow-duration="1s">
                    I was born in Holyoke, Massachusetts on March 25th, 1996.
                    I attended the public school system in Holyoke from elementary school to high school,
                    and eventually started my college career at the Holyoke Community College.
                    Even though I knew my way around computers, I wasn't always a computer science major.
                    When I started college I was a Biology major. I had intentions to become a medical doctor, but
                    after completing my first semester I realized that I wanted to challenge myself more.
                    Around this time I discovered my love for computer science.
                    This was a field that was growing rapidly and didn't make me feel like the knowledge I was gaining was limited
                    to a career goal.
                    My second semester I began my computer science degree and started learning to program. What I loved
                    the most about computer science was that the knowledge I gained could be applied to other topics as well.
                    I was not just limited to learning about computer science, but my knowledge could be used to help
                    people in other fields. I completed my BS at the University of Massachusetts in 2018 and
                    am happy with the decisions I have made.
                </p>

                <p class="wow fadeInRight" data-wow-duration="1s">
                    I've been into software development for 5 years and have worked on projects ranging
                    from simple text based games for personal leisure to full scale inventory management applications
                    for Hewlett Packard Enterprise. In my free time I create game play assist scripts
                    for a popular video game known as Runescape, and also like to explore hardware such as high speed drones
                    and custom RGB LED fixtures.
                </p>

                <p class="wow fadeInLeft" data-wow-duration="1s">
                    My expertise is in Java and Python development. A vast majority of my work has been on
                    back-end development. For about a year now I've been teaching myself front-end development.
                    Through this I have learned to work with the Django framework, and use some design languages such as
                    HTML, CSS and bootstrap. In fact, that's how you're viewing this page right now!
                </p>

                <p class="wow fadeInRight" data-wow-duration="1s">
                    I love to cook and listen to music when I'm not programming. My dream is to start my own company and
                    help people like myself find a passion in programming.
                    If you'd like to reach out to me for a job interview or would just like to have a chat
                    feel free to reach me at my personal email (omarsanchezdev@gmail.com). I look forward to hearing from you!
                    <br/>
                    <br/>
                    - Omar Sanchez II
                </p>
            </div>
        </div>
    </div>
</main>
<!-- end main -->
</body>
{% endblock content %}

