{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<head>
    <!-- Static CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/animate.min.css' %}">

    <script src="../../static/blog/js/wow.min.js"></script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',      // default
            animateClass: 'animated', // default
            offset: 0,          // default
            mobile: true,       // default
            live: true        // default
        });
        wow.init();
    </script>

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Omar Sanchez | Full Stack Developer</title>
    {% endif %}
</head>

<body>
<!-- start main -->
<main role="main" class="container">
    <!-- Content Section About -->
    <!--Grid row-->
    <div class="container">
        <!--Grid column-->
        <div class="col">
            <img class="rounded-circle animated fadeInLeft" src="{% static "blog/about/me.jpg" %}" width="170px"
                 height="170px">
            <h1 class="animated fadeInDown larger-text"><strong>Omar</strong></h1>
            <h1 class="animated fadeInDown larger-text"><strong>Sanchez II</strong></h1>
            <a href="https://www.linkedin.com/in/osanchezdev/"><img class="pr-2 animated fadeInLeft"
                                                       src="{% static "blog/about/linkedin-icon.png" %}" width="60px"
                                                       height="50px"></a>
            <a href="https://github.com/Osanchez"><img class="pr-2 animated fadeInLeft"
                                                       src="{% static "blog/about/git-icon.png" %}" width="60px"
                                                       height="50px"></a>
            <a href="https://www.facebook.com/OsanchezDev"><img class="pr-2 animated fadeInLeft"
                                                                src="{% static "blog/about/facebook-icon.png" %}"
                                                                width="60px" height="50px"></a>
            <a href="https://twitter.com/OsanchezDev"><img class="pr-2 animated fadeInLeft"
                                                           src="{% static "blog/about/twitter-icon.png" %}"
                                                           width="60px" height="50px"></a>
            <a href="mailto:omarsanchezdev@gmail.com"><img class="pr-2 animated fadeInLeft"
                                                           src="{% static "blog/about/email-icon.png" %}"
                                                           width="60px" height="50px"></a>
            <br/>
            <br/>
            <a href="https://drive.google.com/file/d/160MnyHTFM25cAAlEdG1a0PdMpQbkIwWD/view?usp=sharing">
                <img class="pr-2  float-left animated fadeInLeft" src="{% static "blog/about/resume-icon.png" %}"
                     width="65px" height="55px">
                <p class="p-3 font-weight-bold animated fadeInRight" style="color:rgb(52,52,52);">My Resume</p>
            </a>
        </div>

        <div class="col">
            <p class="wow fadeInLeft" data-wow-duration="1s"><strong>
                Full-Stack Developer
            </strong></p>

            <p class="wow fadeInRight" data-wow-duration="1s">
                First and foremost, thank you for visiting my website!
            </p>

            <p class="wow fadeInLeft" data-wow-duration="1s">
                I graduated in 2018 from the University of Massachusetts with a Bachelors in Computer Science.
                I have worked on numerous projects in topics such as artificial intelligence, machine learning,
                natural language processing, and web design. I have 6 years of software development experience and
                2 years of professional experience in software development. I started college as a biology major,
                but my programming hobby eventually became my career. Coming from a natural science background I enjoy working on
                different ways to incorporate software development into everyday life.
            </p>

            <p class="wow fadeInRight" data-wow-duration="1s">
                I am most knowledgeable in Java and Python, but have experience working with other programming languages
                such as C# and Javascript. As an integrations developer, 99% of my day to day tasks require me to be flexible with different programming languages.
                This discipline has allowed me to hone my skills and work effectively in an agile environment.
            </p>

            <p class="wow fadeInLeft" data-wow-duration="1s">
                In my free time I love to cook, play video games and fairly recently, invest. My dream is to one day start or be a part of
                a successful venture  where I can continue to follow my passion for software development.
                I have recently started to take requests as a free lance developer to help small non-profits as well as early start ups.
                If you believe that there is something I can do to help you, please feel free to reach out to me using any of the contact methods in the contacts page.
            </p>

            <p class="wow fadeInRight" data-wow-duration="4s">
                - Omar Sanchez II
            </p>
        </div>
    </div>
</main>
<!-- end main -->
</body>
{% endblock content %}

